@media only screen and (min-width: 768px) {
	.website-section {
		padding: 90px 60px 75px 60px;
	}
	.website-section2 {
		padding: 90px 100px 75px 100px;
	}
	.footer-bg ul {
		border-left: 1px solid #03407D;
	}
	.footer-social i {
		margin-right: 20px!important;
	}
	/* .ads_services .pl-sm-5 .servicesSection_overlay {
		background: rgba(0, 0, 0, 0.5);
		right: 0;
		left: 3rem;
		width: 91%;
		text-align: center;
	} */
	.about-page-cover-image {
		margin-top: 75px;
	}
	/* Case study */
	.casestudySection .left {
		/* padding: 75px 50px 0px 100px; */
		margin-right: 100px!important;
	}
	.casestudySection .right {
		/* padding: 75px 100px 0px 50px; */
		margin-left: 100px!important;
	}
	.openings_container {
		padding: 50px 250px;
	}
	.openings_container_image {
		padding: 0px 40px;
	}
	.contact-form {
		margin-top: 40px;
	}
	.contact-form .col-sm-3::after {
		content: '';
		position: absolute;
		height: 80%;
		width: 2px;
		right: -15px;
		top: 50%;
		transform: translateY(-50%);
		background: #afafb6;
	}
	nav{
		padding: 10px 50px!important;
	}
	.servicesSection_overlayabout{
	background: rgba(7, 84, 160, 0.76);
	padding: 65px 140px;
}
}

@media only screen and (max-width: 767px) {
	/* Global classes for mobile */
	.mfo-35 {
		font-size: 35px!important;
	}
	.mfo-32 {
		font-size: 32px!important;
	}
	.mfo-30 {
		font-size: 30px!important;
	}
	.mfo-28 {
		font-size: 28px!important;
	}
	.mfo-25 {
		font-size: 25px!important;
	}
	.mfo-24 {
		font-size: 24px!important;
	}
	.mfo-22 {
		font-size: 22px!important;
	}
	.mfo-20 {
		font-size: 20px!important;
	}
	.mfo-18 {
		font-size: 18px;
	}
	.mfo-17 {
		font-size: 17px!important;
	}
	.mfo-16 {
		font-size: 16px!important;
	}
	.mfo-15 {
		font-size: 15px!important;
	}
	.mfo-14 {
		font-size: 14px!important;
	}
	.mfo-13 {
		font-size: 13px!important;
	}
	.mfo-12 {
		font-size: 12px!important;
	}
	.mfo-11 {
		font-size: 11px!important;
	}
	.mfo-10 {
		font-size: 10px!important;
	}
	.mow-100 {
		width: 100%!important;
	}
	.mow-90 {
		width: 90%!important;
	}
	.mow-60 {
		width: 60%!important;
	}
	.mow-40 {
		width: 40%!important;
	}
	.mvh-25 {
		height: 25vh;
	}
	.carousel-inner,
	.carousel-item,
	.carousel-item img {
		height: 25vh;
	}
	.website-section {
		padding: 20px 10px 35px 10px;
	}
	.footer-social {
		padding: 0px 56px;
		justify-content: space-between;
	}
	.sericesIcon {
		width: 60px;
		height: 60px;
		padding: 12px;
		margin-top: 60px;
	}
	.about-page-cover-image {
		margin-top: 70px;
		height: 25vh;
	}
	.openings_container {
		padding: 50px 0px;
	}
	.openings_container_image {
		padding: 0px 30px;
	}
	.contact_cover_overlay {
		padding: 0px!important;
	}
	.contact_cover_overlay .col-4 {
		padding: 0;
	}
	.contact-form {
		margin-top: 80px;
	}
	.contact-form .col-sm-6,
	.contact-form .col-sm-12 {
		padding: 0px;
	}
	.servicesSection_overlayabout{
	background: rgba(7, 84, 160, 0.76);
	padding: 10px;
}
}